path {
  fill-rule: evenodd;
  fill: #fff;
  opacity: .9;
}

svg {
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hours, .minutes, .seconds {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 3em;
  fill: #fff;
  fill-opacity: .9;
}